@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');

body {
  background: #000000;
  color: #000000;
  font-family: "K2D";
}

main {
  max-width: 1400px;
  margin: 70px;
  background: black;
  padding: 30px;
  position: relative;
  right: 0;
  margin-left: 400px;
  margin-right: 0;
}

input[name=css-tabs] {
  display: none;
}

a {
  color: #ffffff;
}

h1 {
  font-family: "K2D";
}

h3 {
  font-family: "K2D";
}

p {
  font-family: "K2D";
}

#tabs {
  padding: 0;
  width: 1000px;
  margin-left: -30px;
  background: #333333;
  height: 40px;
  border-bottom: 5px solid #ffffff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

#tabs::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -100;
  width: 100%;
  left: 0;
  margin-top: calc(40px / 2);
  height: 40px;
  background: #2B2A28;
  border-bottom: 5px solid #ffffff;
}

#tabs::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  height: 40px;
  width: 200px;
  background: #000000;
}

#tabs label {
  position: relative;
  z-index: 100;
  display: block;
  float: left;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  line-height: 40px;
  margin-top: -40px;
  cursor: pointer;
  font-family: "K2D";
}

#tabs label::before {
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(40%);
  margin: 5px auto;
}

#radio1:checked ~ #tabs #tab1::before, #radio2:checked ~ #tabs #tab2::before, #radio3:checked ~ #tabs #tab3::before, #radio4:checked ~ #tabs #tab4::before {
	filter: invert(100%);
}
#radio1:checked ~ #tabs::after {
	transform: translateX(0);
}
#radio2:checked ~ #tabs::after {
	transform: translateX(201px);
}
#radio3:checked ~ #tabs::after {
	transform: translateX(402px);
}
#radio4:checked ~ #tabs::after {
	transform: translateX(603px);
}
#radio5:checked ~ #tabs::after {
	transform: translateX(804px);
}
#content {
	position: relative;
	height: 1200px;
  background-color: black;
}
#content::before {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	margin-left: -50px;
	border-left: 10px solid transparent;
	border-bottom: 8px solid transparent;
}
#content::after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	margin-left: calc(100% + 30px);
	border-right: 10px solid transparent;
	border-bottom: 8px solid transparent;
}
#content section {
  position: absolute;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: transform 500ms, opacity 500ms;
}

#radio1:checked ~ #content #content1,
#radio2:checked ~ #content #content2,
#radio3:checked ~ #content #content3,
#radio4:checked ~ #content #content4,
#radio5:checked ~ #content #content5 {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
