/* You should probably replace this with your own CSS */
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */

.App {
    text-align: center;
}

.App-header {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
