.hero-container {
  position: relative;
}

@keyframes bounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

.heroimg {
  animation: bounceUpDown 2s infinite;
  margin-bottom: -330px;
  margin-left: 790px;
  z-index: 1;
  position: relative;

}
