/* @import "../../root.css";
@import '../../Nav.css'; */
/* @import '../../components/Home/Rows.css'; */
 /* nav {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  height: 70px;
  z-index: 1;
  background-color: #000000;
  transition: background-color 0.5s ease-in-out;

}

.nav__items {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 269px;
  object-fit: contain;
  cursor: pointer;
}

.nav__avatar {
  width: 30px;
  height: 30px;
  object-fit: contain;
  cursor: pointer;
} */


/* .game-container {
    margin-right: 55px;
  padding:  11%;
  top: 50px;
  background-color: aqua;

}

h2 {
  font-size: 36px;
  color: #faefef;
  margin-bottom: 20px;
  border-left: 11%;
  top: 10px;

}

.game__poster {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.row__poster {
  max-height: 325px;
  margin-top: 20px;
  padding-left: 10px;
  width: 23%;
  transition: transform 450ms;
  z-index: 1;
} */
