
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');


/* .lgamesbody {
    background-color: rgb(0, 0, 0);
    font-family: "K2D";
    margin-top: 0;
} */

.allgamesbody {
    margin-left: 225px;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    /* gap: 25px;  */
}

.allgamesbody > * {
    flex: 1 1 calc(20% - 25px); /* 20% width for each card, considering the gap */
}



.titlegames {
    color: rgb(255, 255, 255);
    margin-left: 200px;
    margin-top: 120px;
    margin-bottom: -180px;
    background-color: #0000003b;
    padding-left: 10px;


}

.text-titlegames {
    color: green;
    margin-top: 100px;
    margin-left: 200px;

}

.lgamesh2 {
    /* color: rgb(251, 255, 251); */
    margin-top: -30px;
    text-align: right;
    position: relative;


}

/* .lgamessolid {
    border-top: 2px solid #000000;
    width: 230px;
    position: relative;
    margin-top: -10px;
    top: 0;
    z-index: 0;
} */

/* .lgamescard-img {
    background-color: rgb(255, 252, 252);
    width: 300px;
    height: 170px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 25px 35px black;
    margin-left: 1200px;
    margin-top: 50px;
} */

.grow {
  background-color: #000000;
  padding-bottom: 1000px;


}

.grow__posters {
  display: flex;

  padding: 0px;
  margin-left: -75px;
  margin-right: 10px;
  gap: 50px;
  margin-top: 1dvi;

}
