.search-bar {
  width: 26.4%;
  background-color: rgb(0, 0, 0);
  padding: 4.7px;
  display: flex;
  /* position: relative; */
  margin-left: 69%;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  outline: none;
  font-size: 16px;
  /* z-index: 1; */
}

.search-bar::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-bar:focus {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-bar::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-bar:focus {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
