@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');


.gamesh1 {
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-top: -20px;

    font-family: "K2D";
    position: relative;
}

.gamesh2 {
    color: rgb(251, 255, 251);
    margin-top: 0px;
    text-align: right;
    margin-right: 120px;
    margin-top: -35px;
    font-family: "K2D";
    position: relative;


}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.text {
    color: rgb(251, 255, 251);
    font-size: 15px;
    font-family: K2D;
    margin-left: 10px;
    flex: 1;

    position: relative;
}
.text-title {
    text-decoration: underline;
    color: rgb(251, 255, 251);
    font-size: 20px;
    font-family: K2D;
    margin-left: 10px;
    flex: 1;
    position: relative;
}

.text-genres-dev {

    color: rgb(251, 255, 251);
    font-size: 15px;
    font-family: K2D;
    margin-left: 250px;
    flex: 1;
    position: relative;

}

.text-title1 {
    text-decoration: underline;
    color: rgb(251, 255, 251);
    font-size: 20px;
    font-family: K2D;
    margin-left: 10px;
    flex: 1;
    position: relative;
    text-align: right;
    margin-top: -45px;

}


.text2 {
    color: white;
    font-size: 20px;
    font-family: K2D;
    margin-left: 250px;
    flex: 2;

    position: relative;

}

.gamessolid {
    border-top: 2px solid #bbb;
    width: 1530px;
    position: relative;
    margin-top: 0px;
    top: 0;


}

.gamescard-img2 {
    position: relative;
    width: 1330px;
    height: 3000px;
    margin-top: 100px;
    margin-left: 190px;
    overflow: hidden;
}

.background-image {
    position: fixed;
    top: 100px;
    left: 100px;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 1;
    z-index: 0;
    object-fit: cover;
    filter: brightness(0.5);

}

.gamescard-img {
    background-color: rgb(255, 252, 252);
    width: 300px;
    height: 170px;
    border-radius: 20px 20px 20px 20px;
    backdrop-filter: blur(10px);
    align-self: flex-end;
    margin-right: -160px;
    flex: 3;
}


.GDButton {
  border-radius: 10px;
  color: #ffffff;

  background-color: rgb(255, 255, 255) !important ;

  width: 200px;
  margin-right: 5px;
  margin-left: 5px;
  font-family: "K2D";
  position: relative;
}

.GDIcon {

  opacity: 1;
  align-items: right;
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
}
.GDIcon1 {

  opacity: 0;
  align-items: right;
  position: relative;
  margin-right: 5px;
  margin-left: 275px;
}

.moveright {
    margin-left: 275px;
    position: relative;

}

.screenshotHero {
    width: 350px;
    height: 200px;
    border-radius: 25px;
    margin-right: 30px;
    margin-top: 25px;
    position: relative;

}



.flex-item {
    position: relative;
}

h1.gameTitle {
    text-align: right;
    margin-right: 50px;
    margin-top: 10px;
    font-weight: bolder;
    position: relative;
    color: white;

}

.divider {
    color: white;
    width: 100%;
    padding: -10px;
}

.rcontainer-title {
  cursor: pointer;
  position: relative;
  right: 100px;
  width: 250px;
  height: 40px;
  margin-bottom: 10px;

  margin-left: 525px;
  padding-bottom: 5px;

  background-color: rgba(255, 255, 255, 0);
}

.rcontainer {
  cursor: pointer;
  position: relative;
  right: 100px;
  width: 500px;
  height: 40px;

  margin-left: 525px;
  padding-bottom: 5px;

  background-color: rgba(0, 0, 0, 0);
}

input[type=text] {
  position: relative;
  padding: 15px 20px;
  width: 100%;
  height: 40px;
  color: #676767;

  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, #FFFFFF 0%, #464747 #F9F9F9 100%);
  outline: none;
}

.white-container {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.rating-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.star-rating {
  background-color: white;
  border-radius: 5px;
}

label[for='rating'] {
  color: darkgray;
  font-family: 'K2D';
}

.container {
  text-align: right;
}

.rec {
  display: inline;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 24px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.532);
  border-radius: 20px;
  padding: 0 10px;
}

.custom-background {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}


#big-screenshots {
  text-align: right;
  background-color: rgba(29, 29, 30, 0.816);
  opacity: 0;
  z-index: -1;
  position: fixed;
  left: 400px;
  width: 60%;
  height: max-content;
  top: 150px;
  border-radius: 20px;
  padding: 15px;
}

.screenshotsHero:hover {
  cursor: pointer;
}

.d-block {
  height: min-content;
}
