.agcard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    color: black;
}

.agcard {
    background-color: #353536;
    margin: 0px;
    padding: 15px;
    width: calc(20% - 15px);
    min-width: 200px; 
    height: 320px;
    transition-duration: 2s;
    border-radius: 20px;
    margin-top: 50px;
}

.agcard:hover {
    transition-duration: 1s;
    box-shadow: rgba(245, 20, 20, 0.425) 0px 50px 100px -20px, rgba(255, 255, 255, 0.671) 0px 30px 60px -30px, rgba(214, 214, 214, 0.54) 0px -2px 6px 0px inset;
}

.agcard-img {
    background-color: black;
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 25px 35px black;
    margin-bottom: -50px;
}

.agcontent-capsules {
    margin-top: -7px;
    display: flex;
    gap: 5px;
}

.agcontent-capsules img {
    margin-right: 2px;
}

.agcontent-capsules span:hover {
    color: black;
    border: px solid gray;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px, rgba(59, 59, 59, 0.22) 0px 6px 3px;
    transition-duration: 0.7s;
}

.agcontent-head h2 {
    margin: 20px 0px;
    font-size: 16px;
    font-family: 'K2D', sans-serif;
    color: rgb(255, 255, 255);
    top: 0px;
    left: 12px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.566);
    border-radius: 10px;
    padding: 2px;
}

.agcontent-body p {
    font-family: sans-serif;
    font-size: 10px;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.agbutton {
    text-align: right;
    color: black;
    margin-top: auto;
}

.agbutton button {
    padding: 5px 0px;
    font-family: 'K2D';
    font-size: 12px;
    border: none;
    border-radius: 10px;
    width: 50%;
    color: white;
    background-color: black;
    text-align: right;
    padding-right: 10px;
    box-shadow: 0px 8px 10px black;
}

.agbutton button:hover {
    background-color: grey;
    transition: 0.5s;
}
