@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');


.side-by-side {
            display: flex;
            justify-content: flex-end;
            position: relative;
            top: 0px;
            padding-right: 40px;
        }
.link-container {
            margin-right: 10px;
            margin-left: 10px;

        }
.side-by-side a {
            color: white !important;
        }

.rcard {
    background-color: black;
    width: 800px;
    height: 145px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    margin-top: 50px;

}

.card-content {
    display: flex;
}

.card-photo {
    flex: 1;
    overflow: hidden;
}

.card-photo img {
    background-color: black;
    width: 200px;
    height: 125px;
    border-radius: 25px 25px 25px 25px;
    position: relative;
    margin: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    box-shadow: 0px 0px 10.6px 4px rgba(255, 255, 255, 0.25);
}

.card-details {
    flex: 2;
    padding: 0px;
    color: white;
    font-family: 'K2D';
    position: relative;
    text-align: right;
    width: 50%;
    height: 50%;
    align-items: center;
}

.card-title {
    font-size: 20px;
    margin: 0;
    padding-right: 30px;
    color: white;
    margin-top: 35px;
}

hr.rsolid {
    border-top: 2px solid #bbb;
    border-radius: 7px 7px 7px 7px;
    width: 500px;
  }
