@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');

.icon2 {
  color: transparent;
}

.wcontent-capsules {
  margin-bottom: -30px;
  z-index: 1;
  position: relative;
  right: -210px;
  margin-right: 10px;
  gap: 1px;
}

.wcontent-capsules img {
  margin-top: 5px;
  gap: 10px;
  margin-bottom: -80px;
}

.gcontent-capsules img {
  margin-right: 2px;
  margin-bottom: 5px;
}

.side-by-side {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 0px;
}

.link-container {
  margin-right: 10px;
  margin-left: 10px;
}

.side-by-side a {
  color: white !important;
}

.wishlistcard {
  background-color: rgb(45, 45, 45);
  width: 800px;
  height: 145px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(255, 255, 255);
  margin-top: 50px;
  margin-left: 10px;
}

.wcard-content {
  display: flex;
  align-items: center;
}

.wcard-photo img {
  width: 200px;
  height: 125px;
  border-radius: 25px;
  margin: 0px;
  margin-top: -40px;
  box-shadow: 0px 0px 10px 2px rgba(105, 105, 105, 0.394);
}

.wcard-details {
  flex: 2;
  padding: 10px;
  color: rgb(0, 0, 0);
  font-family: 'K2D';
  position: relative;
}

hr.solid {
  border-top: 2px solid #000000;
  border-radius: 7px 7px 7px 7px;
  width: 500px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.wcard-title {
  font-size: 20px;
  padding-right: 70px;
  color: rgb(75, 43, 43);
  margin-top: 10px;
}

.wcard-description {
  font-size: 14px;
  margin: 0;
  padding-right: 10px;
  color: rgb(0, 0, 0);
}

.gamename {
  text-align: right;
  flex: 2;
  font-size: 20px;
  position: relative;
}
