@import "../../root.css";
@import '../../Nav.css';


/* .root */

.hero-carousel-container {
    /* background-color: #0d0225; */
  overflow: hidden;
  position: relative;
  margin: 0px auto; /* Center the carousel horizontally */
  width: 50%; /* Adjust the width as needed */
}

.carousel-inner {
  display: flex;
  transition: transform 450ms ease-in-out;

}

.carousel-item {
  min-width: 100%; /* Ensure each item takes the full width */
}

.carousel-item img {
  width: 100%;
  height: auto;
  padding-top: 19.8px;
  margin-left: 30px;



}

.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Adjust the width of the controls as needed */
}


header {
    background-color: #0d0225;

}



.search-bar {
    border-radius: 25%;
    width: 400px;
    background-color: rgb(55, 49, 49);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;


}
