@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');


.homeH3 {
  font-family: K2D;
  color: white;
  text-align: left;
  margin-left: 300px;
}
.hero-carousel-container {
  background-color: #1a1a1a;
  /* overflow: hidden; */
  position: relative;
  margin: 0px auto;
  margin-top: 10px;
  margin-right: 225px;
  width: 60%;
  height: 60%;
  max-width: 1200px;
  border-radius: 50px;
  z-index: 0;
  box-shadow:
    0px 30px 150px 30px rgb(255, 255, 255),
    /* 0px 30px 50px 30px rgba(147, 2, 184, 0.371); */
}
.carousel-inner {
  display: flex;
  transition: transform 450ms ease-in-out;
  /* border-radius: 20px; */
  /* overflow: hidden; */
}
.carousel-item {
  min-width: 100%; /* Ensure each item takes the full width */
  border-radius: 20px;
}
.carousel-item img {
  width: 100%;
  height: auto;
  /* padding-top: 19.8px; */
  margin-left: auto;
  margin-right: auto; /* Center the image horizontally */
  border-radius: 20px;
}
.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Adjust the width of the controls as needed */
  border-radius: 20px;
}
header {
  background-color: #000000;
  margin-top: 50.5px;
}
.homeline {
    width: 77%;
    margin-left: 275px;
    height: 3px;
    background: linear-gradient(to right, #ff10bf, #009dff);
    box-shadow: 0px 2px 40px rgba(119, 0, 255, 0.1);
}

.carousel-caption {
  position: absolute;
  bottom: 10px; /* Adjust the bottom value as needed */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  color: rgb(255, 0, 234);
  z-index: 3;
}
