.side-menu {
  height: 100%;
  position: fixed;
  top: 40px;
  left: 0;
  background-color: #111;
  color: white;
  padding: 0px;
  width: 20%;
  z-index: 1;
}

.side-menu ul {
  padding-top: 20px;
  padding-left: 10px;
  margin-bottom: 0.4px;
}

.side-menu li {
  margin-top: 0%;
  margin-left: 3px;
  padding-left: px; /* This line seems to have a typo, consider fixing it */
  cursor: pointer;
}
