@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');


.nav {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  height: 103px; 
  z-index: 1;
  background-color: #000000;
  transition: background-color 0.5s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.nav__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__black {
    flex-direction: row;
    background-color: #000000;
}

.nav__logo {
    position: fixed;
    top: -15px;
    width: 350px;

    object-fit: contain;
    margin-left: -40px;
    cursor: pointer;
    padding: 16px;
    z-index: 3;
}


.nav__avatar {
  cursor: pointer;
  position: fixed;
  right: 20px;
  width: 50px;
  height: 50px;
  top: 20px;
  padding-bottom: 5px;
  object-fit: contain;
  z-index: 3;
}

.ncontainer {
  cursor: pointer;
  position: fixed;
  right: 100px;
  width: 500px;
  height: 40px;
  top: 20px;
  padding-bottom: 5px;
  object-fit: contain;
}

input[type=text] {
  position: relative;
  padding: 15px 20px;
  width: 100%;
  height: 40px;
  color: #525252;

  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, #FFFFFF 0%, #464747 #F9F9F9 100%);
  outline: none;
}



.nav__avatar-container {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 4;
}

.nav__dropdown {
  position: absolute;
  top: calc(100% - 0px);
  right: -5px;
  background-color: rgb(0, 0, 0);
  border: 3px solid #3e3e3e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: 2;
  display: none;
  width: 120px;
}

.nav__avatar-container:hover .nav__dropdown {
  display: block;
}

.nav__dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.font-drop {
  font-family: K2D;
  text-decoration: underline;
  text-decoration-thickness: .5px;
  color: white;
  padding: 7px;
  margin-left: 10px;
}

.loader {
  margin: auto;
  width: min-content;
  margin-top: 50px;
}
